<nav class="nav">
    <ul class="nav_links">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/posts" routerLinkActive="active">Posts</a></li>
        <li><a routerLink="/http" routerLinkActive="active">Http</a></li>
        <li><a routerLink="/form" routerLinkActive="active">Form</a></li>
        <li><a routerLink="/pipes" routerLinkActive="active">Pipes</a></li>
        <li><a routerLink="/rxjs" routerLinkActive="active">RxJS</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>