.card {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.card h2 {
  position: relative;
  display: block;
  width: 100%;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.card p {margin: 0;font-size: 18px;}
